gris_ocsuro = #444
gris_claro = lighten(gris_ocsuro, 40%)

footer
    background-color gris_claro
    color white
    padding 1em

header
    background-color gris_ocsuro
    color white
    padding 1em

    h1
        font-size 18px
        font-weight normal
        margin 0
        padding 0

    .logo figure img
        border 1px dashed invert(gris_ocsuro)
        height 52px
        width 52px

    .usuario
        height 50px
        width 50px
        .avatar figure img
            border 1px dashed invert(gris_ocsuro)
            border-radius 50%
            height 48px
            width 48px

section
    padding 1.2em

    article
    .post
        border 1px solid gris_claro
        border-bottom-left-radius 0.8em
        border-bottom-right-radius 0.8em
        overflow hidden
        margin-bottom 1.2em

        figure
        .imagen
            background-color gris_claro
            height 160px
            width 120px
        h2
            font-size 18px
            color gris_ocsuro

        .acciones
            border-top 3px solid gris_claro
            min-height 3em
            padding 0.8em

        .fecha
            position relative
